# Compiled Object files
*.slo
*.lo
*.o
#*.obj
#obj/bin/*
#obj/dbg/*

# CMake build
build/

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
bin/*

# Ctags
tags

# CScope
cscope.*

# config (debug)
btte.conf.dbg

# Doxygen Output
doxygen

# Log
log/

# plot data
plot/output/
plot/time_piece/
plot/time_peer/
